---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vaultwarden
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        # initContainers:
        #   01-init-branding:
        #     image:
        #       repository: quay.io/minio/mc
        #       tag: RELEASE.2025-05-21T01-59-54Z@sha256:09f93f534cde415d192bb6084dd0e0ddd1715fb602f8a922ad121fd2bf0f8b44
        #     command: ["/bin/sh", "-c"]
        #     args: ["mkdir -p /data/templates; mc alias set s3 https://s3.t0m.co '' '' --api S3v4; mc cp --recursive s3/t0m-public/vaultwarden/templates/ /data/templates/"]
        #     # args: ["mkdir -p /data/templates; aws --endpoint-url https://s3.${SECRET_DOMAIN} s3 cp --no-sign-request --recursive s3://t0m-public/vaultwarden/templates/ /data/templates/"]
        containers:
          app:
            image:
              repository: docker.io/vaultwarden/server
              tag: "1.35.1@sha256:1d43c6754a030861f960fd4dab47e1b33fc19f05bd5f8f597ab7236465a6f14b"
            env:
              TZ: "${TIMEZONE:-UTC}"
              DATA_FOLDER: "data"
              SIGNUPS_ALLOWED: "false"
              INVITATIONS_ALLOWED: "true"
              INVITATION_ORG_NAME: "Bitwarden"
              ENABLE_WEBSOCKET: "true"
              PUSH_ENABLED: "true"
              DOMAIN: "https://pw.${SECRET_DOMAIN}"
              SHOW_PASSWORD_HINT: "true"
              ICON_SERVICE: "duckduckgo"
              TEMPLATES_FOLDER: "data/templates"
              # Disabled, not providing full OIDC setup at the moment
              SSO_ENABLED: "false"
              SSO_ONLY: "false"
              SSO_SCOPES: "email profile offline_access"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secrets"
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: ${GATUS_PATH}
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 20m
                memory: 128Mi
              limits:
                memory: 512Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames: ["${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /data