---
# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app pgadmin
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: secret-stores
      namespace: external-secrets
    - name: volsync
      namespace: volsync-system
    - name: cnpg-cluster
  interval: 1h
  path: ./kubernetes/apps/database/pgadmin/app
  postBuild:
    substitute:
      APP: *app
      GATUS_PATH: /misc/ping
      VOLSYNC_CAPACITY: 1Gi
      CNPG_NAME: &postgresAppName pgsql-cluster
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  healthChecks:
    - apiVersion: &postgresVersion postgresql.cnpg.io/v1
      kind: &postgresKind Cluster
      name: *postgresAppName
      namespace: database
  healthCheckExprs:
    - apiVersion: *postgresVersion
      kind: *postgresKind
      failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
      current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: database
  wait: false