---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name "${APP}-initdb-secret"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        INIT_POSTGRES_DBNAME: ${APP}
        INIT_POSTGRES_HOST: ${CNPG_NAME:=pgsql-cluster}-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: ${APP}
        INIT_POSTGRES_PASS: "{{ .${APP}_postgres_password }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: /cnpg-users
    - extract:
        key: /cnpg-operator
---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name "${APP}-pguser-secret"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        port: "5432"
        host: ${CNPG_NAME:=pgsql-cluster}-rw.database.svc.cluster.local
        ro_host: ${CNPG_NAME:=pgsql-cluster}-ro.database.svc.cluster.local
        user: ${APP}
        password: "{{ .${APP}_postgres_password }}"
        db: "${APP}"
        uri: postgresql://${APP}:{{ .${APP}_postgres_password }}@${CNPG_NAME:=pgsql-cluster}-rw.database.svc.cluster.local:5432/${APP}
        dsn: "host=${CNPG_NAME:=pgsql-cluster}-rw.database.svc.cluster.local port=5432 user=${APP} password={{ .${APP}_postgres_password }} dbname=${APP} sslmode=disable"
  dataFrom:
    - extract:
        key: /cnpg-users
