---
apiVersion: v1
kind: Secret
metadata:
  name: akeyless-secret
  namespace: external-secrets
stringData:
  accessId: ak://akeyless/AK_ACCESS_ID
  accessType: ak://akeyless/AK_ACCESS_TYPE
  accessTypeParam: ak://akeyless/AK_ACCESS_TYPE_PARAM
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age-secret
  namespace: flux-system
stringData:
  age.agekey: ak://sops/SOPS_PRIVATE_KEY
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: ak://external-dns/CLOUDFLARE_TUNNEL_ID
  TUNNEL_TOKEN: ak://external-dns/CLOUDFLARED_TUNNEL_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_DOMAIN: ak://cluster-secrets/SECRET_DOMAIN
  TIMEZONE: ak://cluster-secrets/TIMEZONE
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: external-secrets
stringData:
  SECRET_DOMAIN: ak://cluster-secrets/SECRET_DOMAIN
  TIMEZONE: ak://cluster-secrets/TIMEZONE