---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # renovate: datasource=github-releases depName=cloudnative-pg/plugin-barman-cloud
  - https:v0.10.0
  - ./helmrelease.yaml
  - ./objectstore.yaml
  - ./ocirepository.yaml