# Secrets
*.env
*.iso
*.crt
*.pub
*.key
*.decrypted~*.yaml
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
# Kubernetes
kubeconfig
talosconfig
# Misc.
/CLAUDE.md
node-compile-cache/
.archived/
.pytest_cache/
.claude/*
!.claude/CLAUDE.md
!.claude/skills/
.git/
.private/
.task/
.venv/
.DS_Store
Thumbs.db