---
apiVersion: batch/v1
kind: Job
metadata:
  name: ${APP}-list-snapshots
  namespace: ${NS}
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      automountServiceAccountToken: false
      restartPolicy: OnFailure
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: list
          image: ghcr.io/home-operations/kopia:0.23.0@sha256:76865b421548b1d7bb26a8268f0f0bc828be4eec3f8d8b9c8ece991c99878f94
          args: ["snapshot", "list", "--all", "--json"]
          envFrom:
            - secretRef:
                name: ${APP}-volsync-secret
          volumeMounts:
            - name: repository
              mountPath: /mnt/repository
      volumes:
        - name: repository
          nfs:
            server: clonenas.internal
            path: /mnt/vault/backups/kubernetes/kopia
