---
apiVersion: batch/v1
kind: Job
metadata:
  name: ${APP}-list-snapshots
  namespace: ${NS}
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      automountServiceAccountToken: false
      restartPolicy: OnFailure
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: list
          image: ghcr.io/home-operations/kopia:0.23.0@sha256:76865b421548b1d7bb26a8268f0f0bc828be4eec3f8d8b9c8ece991c99878f94
          command: ["/bin/sh", "-c"]
          args:
            - |
              kopia repository connect filesystem --path=/mnt/repository
              kopia snapshot list --all
          env:
            - name: KOPIA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ${APP}-volsync-secret
                  key: KOPIA_PASSWORD
            - name: KOPIA_CONFIG_PATH
              value: /tmp/repository.config
            - name: KOPIA_LOG_DIR
              value: /tmp/logs
            - name: KOPIA_CACHE_DIRECTORY
              value: /tmp/cache
            - name: USER
              value: kopia
            - name: HOME
              value: /tmp
          volumeMounts:
            - name: repository
              mountPath: /mnt/repository
            - name: tmpfs
              mountPath: /tmp
      volumes:
        - name: repository
          nfs:
            server: clonenas.internal
            path: /mnt/vault/backups/kubernetes/kopia
        - name: tmpfs
          emptyDir: {}
