---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: ${APP}-manual
  namespace: ${NS}
spec:
  trigger:
    manual: restore-once
  kopia:
    repository: ${APP}-volsync-secret
    destinationPVC: ${CLAIM}
    copyMethod: Direct
    storageClassName: ${STORAGE_CLASS}
    accessModes: [${ACCESS_MODES}]
    restoreAsOf: "${RESTORE_AS_OF}"
    moverSecurityContext:
      runAsUser: ${PUID}
      runAsGroup: ${PGID}
      fsGroup: ${PGID}
    enableFileDeletion: true
    cleanupCachePVC: true
    cleanupTempPVC: true
    sourceIdentity:
      sourceName: ${APP}
    moverVolumes:
      - mountPath: repository
        volumeSource:
          nfs:
            server: clonenas.internal
            path: /mnt/vault/backups/kubernetes/kopia
