---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dcgm-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  dependsOn:
    - name: nvidia-device-plugin
      namespace: kube-system
  values:
    image:
      repository: mirror.gcr.io/nvidia/dcgm-exporter
      tag: 4.5.1-4.8.0-distroless
    extraEnv:
      NVIDIA_DRIVER_CAPABILITIES: all
      NVIDIA_VISIBLE_DEVICES: all
    nodeSelector:
      nvidia.com/gpu.present: "true"
    runtimeClassName: nvidia
    resources:
      limits:
        memory: 1Gi
        nvidia.com/gpu: 1
    serviceMonitor:
      interval: 15s
      honorLabels: true
    securityContext:
      privileged: true
      allowPrivilegeEscalation: true
      capabilities: { add: ["SYS_ADMIN"] }