---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin-sync
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        type: cronjob
        cronjob:
          schedule: 0 * * * *
          backoffLimit: 0
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
          ttlSecondsAfterFinished: 3600
        containers:
          app:
            image:
              repository: ghcr.io/luigi311/jellyplex-watched
              tag: 8.4.0@sha256:e72a10f4cc0bdf6ddad7e03bb8419639ab991fb0b7396f4845340e6f9135f904
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            env:
              DEBUG_LEVEL: debug
              DRYRUN: "False"
              JELLYFIN_BASEURL: http://jellyfin.media.svc.cluster.local:8096
              LIBRARY_MAPPING: '{ "Shows": "TV Shows" }'
              LOGFILE: /tmp/sync.log
              MARK_FILE: /tmp/mark.log
              PLEX_BASEURL: http://plex.media.svc.cluster.local:32400
              SSL_BYPASS: "True"
              RUN_ONLY_ONCE: "True"
              TZ: ${TIMEZONE:-UTC}
              WHITELIST_LIBRARY: Movies,Shows
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
    persistence:
      tmp:
        type: emptyDir
