---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app proxy
spec:
  dependsOn:
    - name: envoy-gateway-config
      namespace: network
    - name: external-secrets
      namespace: external-secrets
  interval: 1h
  path: ./kubernetes/apps/network/proxy/apps
  postBuild:
    substituteFrom:
      - kind: Secret
        name: proxy-secrets
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  wait: false