---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app csi-driver-nfs
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controller:
      replicas: 1
    storageClass:
      create: true
      name: nfs-media
      parameters:
        server: nas.internal
        share: /volume1/Media
      mountOptions:
        - nfsvers=4    # or vers=3 if your server supports NFSv3
        - nconnect=16  # sets the number of TCP connections between the client and server
        - hard         # forces the mount but needs addt'l flags to not cause commmands to hang
        - noatime      # speeds up access times by eliminating access time updates
        - timeo=600    # Wait 60 seconds before retrying.
        - retrans=5    # Retry 5 times before reporting a failure.
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
