---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name authentik-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        AUTHENTIK_POSTGRESQL__NAME: "${APP}"
        AUTHENTIK_POSTGRESQL__USER: "${APP}"
        AUTHENTIK_POSTGRESQL__PASSWORD: "{{ .${APP}_postgres_password }}"
        POSTGRES_PASSWORD: "{{ .${APP}_postgres_password }}"
        AUTHENTIK_POSTGRESQL__HOST: "${CNPG_NAME:=pgsql-cluster}-rw.database.svc.cluster.local"
        AUTHENTIK_HOST: "https://${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"

        AUTHENTIK_SECRET_KEY: "{{ .AUTHENTIK_SECRET_KEY }}"
        AUTHENTIK_EMAIL__HOST: "{{ .SMTP_HOST }}"
        AUTHENTIK_EMAIL__PORT: "{{ .SMTP_PORT }}"
        AUTHENTIK_EMAIL__USERNAME: "{{ .SMTP_USERNAME }}"
        AUTHENTIK_EMAIL__PASSWORD: "{{ .SMTP_PASSWORD }}"
        AUTHENTIK_EMAIL__USE_TLS: "{{ .SMTP_USE_TLS }}"
        AUTHENTIK_EMAIL__USE_SSL: "{{ .SMTP_USE_SSL }}"
        AUTHENTIK_EMAIL__TIMEOUT: "{{ .SMTP_TIMEOUT }}"
        AUTHENTIK_EMAIL__FROM: "{{ .SMTP_FROM }}"
        AUTHENTIK_OUTPOST_TOKEN: "{{ .AUTHENTIK_OUTPOST_TOKEN}}"

        AUTHENTIK_STORAGE__MEDIA__BACKEND: "s3"
        AUTHENTIK_STORAGE__MEDIA__S3__ACCESS_KEY: "{{ .AUTHENTIK_AWS_ACCESS_KEY_ID }}"
        AUTHENTIK_STORAGE__MEDIA__S3__SECRET_KEY: "{{ .AUTHENTIK_AWS_SECRET_ACCESS_KEY }}"
        AUTHENTIK_STORAGE__MEDIA__S3__BUCKET_NAME: t0m-authentik
        AUTHENTIK_STORAGE__MEDIA__S3__REGION: us-east-1
        AUTHENTIK_STORAGE__MEDIA__S3__ENDPOINT: "https://s3.${SECRET_DOMAIN}"
        AUTHENTIK_STORAGE__MEDIA__S3__CUSTOM_DOMAIN: "s3.${SECRET_DOMAIN}/t0m-authentik"
        AUTHENTIK_STORAGE__MEDIA__S3__SECURE_URLS: "true"

        # REDIS deprecated variables, kept for backward compatibility
        # AUTHENTIK_REDIS__HOST: "dragonfly-cluster.database.svc.cluster.local"
        # AUTHENTIK_REDIS__DB: "1"
  dataFrom:
    - extract:
        key: /authentik
    - extract:
        key: /minio
    - extract:
        key: /ses-creds
    - extract:
        key: /cnpg-users
