---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  timeout: 10m
  values:
    *app :
      outposts:
        container_image_base: ghcr.io/goauthentik/%(type)s:%(version)s
        # For development builds, uncomment the line below and comment the line above
        # container_image_base: ghcr.io/goauthentik/dev-%(type)s:gh-%(build_hash)s
      error_reporting:
        enabled: false
    global:
      fullnameOverride: *app
      deploymentAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      image:
        repository: ghcr.io/goauthentik/server
        tag: 2025.12.3
        # For development builds, uncomment the lines below and comment the two lines above
        # repository: ghcr.io/goauthentik/dev-server
        # tag: gh-cab3834f6da1fdd1fb3ab294a3d9d157f2c4679f
      envFrom:
        - secretRef:
            name: *secret
      volumes:
        - name: custom-css
          configMap:
            name: authentik-customize
      volumeMounts:
        - name: custom-css
          mountPath: /web/dist/custom.css
          subPath: custom.css
          readOnly: true
    server:
      replicas: 1
      initContainers:
        - name: 01-init-db
          image: ghcr.io/home-operations/postgres-init:18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
          envFrom:
            - secretRef:
                name: "{{ .Release.Name }}-initdb-secret"
      route:
        main:
          enabled: true
          hostnames: ["${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"]
          parentRefs:
            - name: envoy-external
              namespace: network
      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: "1"
          memory: 1Gi
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
    worker:
      replicas: 2
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app.kubernetes.io/component: server
              topologyKey: kubernetes.io/hostname
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/component: worker
                topologyKey: kubernetes.io/hostname
      # Disable autoscaling, it is resource intensive and not very useful for workers
      # If re-enabled, remove the `replicas` field above
      # autoscaling:
      #   enabled: true
      #   minReplicas: 1
      #   maxReplicas: 3
      #   targetCPUUtilizationPercentage: 80
      resources:
        requests:
          cpu: 250m
          memory: 512Mi
        limits:
          memory: 1.25Gi
    prometheus:
      rules:
        enabled: false # Lots of Django alerts firing, disable for now
