---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    *app :
      outposts:
        container_image_base: ghcr.io/goauthentik/%(type)s:%(version)s
        # For development builds, uncomment the line below and comment the line above
        # container_image_base: ghcr.io/goauthentik/dev-%(type)s:gh-%(build_hash)s
      error_reporting:
        enabled: false
    global:
      fullnameOverride: *app
      deploymentAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      image:
        repository: ghcr.io/goauthentik/server
        tag: 2025.10.2
        # For development builds, uncomment the lines below and comment the two lines above
        # repository: ghcr.io/goauthentik/dev-server
        # tag: gh-cab3834f6da1fdd1fb3ab294a3d9d157f2c4679f
      envFrom:
        - secretRef:
            name: *secret
      volumes:
        - name: custom-css
          configMap:
            name: authentik-customize
      volumeMounts:
        - name: custom-css
          mountPath: /web/dist/custom.css
          subPath: custom.css
          readOnly: true
    server:
      replicas: 1
      initContainers:
        - name: 01-init-db
          image: ghcr.io/home-operations/postgres-init:18
          envFrom:
            - secretRef:
                name: "{{ .Release.Name }}-initdb-secret"
      route:
        main:
          enabled: true
          hostnames: ["${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"]
          parentRefs:
            - name: envoy-external
              namespace: network
      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: "1"
          memory: 1Gi
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
    worker:
      autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 3
        targetCPUUtilizationPercentage: 90
      resources:
        requests:
          cpu: 250m
          memory: 512Mi
        limits:
          memory: 1.25Gi
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
    prometheus:
      rules:
        enabled: true
