---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name kite-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        # OIDC
        OIDC_ISSUER_URL: "https://{{ .AUTHENTIK_SSO_SUBDOMAIN }}.${SECRET_DOMAIN}/application/o/${APP}/"
        OIDC_CLIENT_ID: "{{ .KITE_OIDC_CLIENT_ID }}"
        OIDC_CLIENT_SECRET: "{{ .KITE_OIDC_CLIENT_SECRET }}"
        OIDC_SCOPES: "openid email profile groups offline_access"
        KITE_ENCRYPT_KEY: "{{ .KITE_ENCRYPT_KEY }}"
        JWT_SECRET: "{{ .KITE_JWT_SECRET }}"
  dataFrom:
  - extract:
      key: /authentik
  - extract:
      key: /kite
