---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app radicale
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: tomsquest/docker-radicale
              tag: 3.5.9.0@sha256:b833f12e7fe02ef5fcb841bf331785b865325924c22e375b34279b96b29cf7b6
            env:
              TZ: ${TIMEZONE:-UTC}
            resources:
              requests:
                cpu: 15m
                memory: 128M
              limits:
                memory: 256M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"], add: ["CHOWN SETUID SETGID KILL"] }
    defaultPodOptions:
      securityContext:
        runAsUser: 2999
        runAsGroup: 2999
        fsGroup: 2999
        runAsNonRoot: true
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 5232
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames: ["${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /data
      config:
        type: secret
        name: "{{ .Release.Name }}-config"
        globalMounts:
          - path: /config/config
            subPath: config.cfg
            readOnly: true
      auth:
        type: secret
        name: "{{ .Release.Name }}-secret"
        globalMounts:
          - path: /config/users
            subPath: users
            readOnly: true