---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter-synology
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    fullnameOverride: *app
    extraArgs:
      - "--config.file=/config/snmp.yaml"
    extraConfigmapMounts:
      - name: *app
        mountPath: /config/snmp.yaml
        subPath: snmp.yaml
        configMap: *app
        readOnly: true
        defaultMode: 420
    podAnnotations:
      configmap.reloader.stakater.com/reload: *app
    serviceMonitor:
      enabled: true
      params:
        - name: nas
          module: ["synology"]
          target: "nas.internal"
          auth: ["public_v2"]
      path: /snmp
      scrapeTimeout: 20s
      relabelings:
        # - { sourceLabels: ["__address__"], targetLabel: "__param_target" } # Sets pod IP and passes it as the target parameter of the /snmp URL
        - { sourceLabels: ["__param_target"], targetLabel: "instance" } # Sets the instance label to the target parameter value
        - { targetLabel: "__address__", replacement: "snmp-exporter-synology.observability.svc.cluster.local:9116" }