---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./grafanadashboard.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./prometheusrule.yaml
configMapGenerator:
  - name: snmp-exporter-synology
    files:
      - snmp.yaml=./snmp.yaml
generatorOptions:
  disableNameSuffixHash: true
