---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app flaresolverr
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/alexfozor/flaresolverr
              tag: "pr-1300@sha256:6cbd506462cc85a2ce1dfc0033e35129c21405f042eb9f136dbec88ddb1470b9"
            env:
              TZ: ${TIMEZONE:-UTC}
              CAPTCHA_SOLVER: none
              LOG_LEVEL: info
              LOG_HTML: false
            resources:
              requests:
                cpu: 15m
                memory: 512Mi
              limits:
                memory: 1Gi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8191