---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./actual/ks.yaml
  - ./authentik/ks.yaml
  - ./homebox/ks.yaml
  - ./homepage/ks.yaml
  - ./immich/ks.yaml
  - ./komga/ks.yaml
  - ./mealie/ks.yaml
  - ./minio/ks.yaml
  - ./open-webui/ks.yaml
  - ./pairdrop/ks.yaml
  - ./radicale/ks.yaml
  - ./rclone/ks.yaml
  - ./searxng/ks.yaml
  - ./spoolman/ks.yaml
  - ./vaultwarden/ks.yaml
