---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.envoyproxy.io/backend_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: Backend
metadata:
  name: &name dadnas
  labels:
    app: *name
spec:
  endpoints:
    - fqdn:
        hostname: "${DADNAS_CNAME}"
        port: 5000
  tls:
    insecureSkipVerify: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: &name dadnas
  annotations:
    gatus.home-operations.com/enabled: "false"
spec:
  hostnames: ["dad.${SECRET_DOMAIN}"]
  parentRefs:
    - name: envoy-external
      namespace: &ns network
      sectionName: https
  rules:
    - backendRefs:
        - group: gateway.envoyproxy.io
          kind: Backend
          name: *name
          port: 443
      matches:
        - path:
            type: PathPrefix
            value: /
      filters:
        - type: URLRewrite
          urlRewrite:
            hostname: ${DADNAS_CNAME}
        - type: RequestHeaderModifier
          requestHeaderModifier:
            remove: [Set-Cookie]