---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
# https://github.com/tholinka/home-ops/blob/main/kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent-race
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              TZ: ${TIMEZONE:-UTC}
              QBT_TORRENTING_PORT: &vpnPort 55635
              QBT_WEBUI_PORT: &port 80
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 150m
                memory: 2Gi
              limits:
                memory: 4Gi
            securityContext: &secCont
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1044
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
      bittorrent:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.5.237
        externalTrafficPolicy: Cluster
        ports:
          bittorrent-tcp:
            port: *vpnPort
            protocol: TCP
    route:
      app:
        hostnames: ["${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    configMaps:
      config:
        data:
          .qbt.toml: |-
            [qbittorrent]
            addr = "http://localhost:80"
          categories.json: |-
            {
              "audiobooks": {"save_path": "/Media/torrents/completed/audiobooks"},
              "cross-seed": {"save_path": "/Media/torrents/completed/cross-seed"},
              "movies": {"save_path": "/Media/torrents/completed/movies"},
              "music": {"save_path": "/Media/torrents/completed/music"},
              "manual": {"save_path": "/Media/torrents/completed/manual"},
              "race": {"save_path": "/Media/torrents/completed/race"},
              "tv": {"save_path": "/Media/torrents/completed/tv"}
            }
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      categories-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/qBittorrent/categories.json
            subPath: categories.json
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/.qbt.toml
            subPath: .qbt.toml
      media:
        type: nfs
        server: nas.internal
        path: /volume1/Media/torrents
        globalMounts:
          - path: /Media/torrents
      tmp:
        type: emptyDir