---
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

endpoints:
  - name: Cloudflare
    group: connectivity
    url: icmp://1.1.1.1
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: Quad9
    group: connectivity
    url: icmp://9.9.9.9
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

  - name: heartbeat
    group: connectivity
    url: ""  # Push-based monitoring
    interval: 5m
    conditions:
      - "[CONNECTED] == true"

metrics: true

storage:
  type: postgres
  path: ${DB_URI}
  caching: true

ui:
  title: Status | Gatus
  header: Status
  logo: https://avatars.githubusercontent.com/u/585808
  link: https://${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}
  buttons:
    - name: Home-Ops
      link: https://github.com/tscibilia/home-ops

web:
  port: ${GATUS_WEB_PORT}

debug: false

alerting:
  pushover:
    application-token: ${PUSHOVER_ALERTMANAGER_TOKEN}
    default-alert:
      description: health-check failed
      failure-threshold: 3
      minimum-reminder-interval: 1h
      send-on-resolved: true
      success-threshold: 2
    priority: 1
    resolved-priority: 0
    title: Gatus
    user-key: ${PUSHOVER_USER_KEY}