---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app actual-auto-sync
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/seriouslag/actual-auto-sync
              tag: latest@sha256:8181985b6e6df5b5134becec3b65b7856988eb734b45a0a97653a67d2821bf35
            env:
              TZ: ${TIMEZONE:-UTC}
              ACTUAL_SERVER_URL: "http://actual.default.svc.cluster.local:5006"
              CRON_SCHEDULE: "0 7 * * *"
              LOG_LEVEL: "info"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
    persistence:
      tmp:
        type: emptyDir
