---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871
            env:
              TZ: ${TIMEZONE:-UTC}
              PLEX_ADVERTISE_URL: https://{{ .Release.Name }}.${SECRET_DOMAIN}:443,http://192.168.5.235:32400,http://plex.media:32400
              PLEX_NO_AUTH_NETWORKS: 192.168.1.0/24,192.168.5.0/24
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: ${GATUS_PATH}
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness:
                <<: *probes
                spec:
                  httpGet:
                    path: ${GATUS_PATH}
                    port: *port
                  timeoutSeconds: 5
                  failureThreshold: 3
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: "1"
                memory: 2Gi
              limits:
                nvidia.com/gpu: "1"
                cpu: "6"
                memory: 8Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
          log-forwarder:
            image:
              repository: ghcr.io/ghcr-library/busybox
              tag: 1.32.0@sha256:c9249fdf56138f0d929e2080ae98ee9cb2946f71498fc1484288e6a935b5e5bc
            command: ["/bin/sh", "-c", "tail -n+1 -F '/config/Library/Application Support/Plex Media Server/Logs/Plex Media Server.log'"]
        pod:
          runtimeClassName: nvidia
          nodeSelector:
            nvidia.com/gpu.present: "true"
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1044
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44]
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.5.235
        externalTrafficPolicy: Local
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 401"]
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
          - # Ref: https://forums.plex.tv/t/external-srt-subtitles-are-not-working-w-reverse-proxy/886540
            backendRefs:
              - identifier: app
                port: *port
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove:
                    - Range
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
    persistence:
      config:
        existingClaim: *app
      # Cache must be commented out initial install in order to avoid permission issues in '/config/Library/Application Support/Plex Media Server'
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
      logs:
        existingClaim: "{{ .Release.Name }}-logs"
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs
      media:
        type: nfs
        server: nas.internal
        path: /volume1/Media
        globalMounts:
          - path: /Media
            readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            app :
              - path: /transcode
                subPath: transcode
              - path: /tmp
                subPath: tmp
