---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name open-webui-secrets
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        OAUTH_CLIENT_ID: "{{ .OPENAI_OAUTH_CLIENT_ID }}"
        OAUTH_CLIENT_SECRET: "{{ .OPENAI_OAUTH_CLIENT_SECRET }}"
        WEBUI_SECRET_KEY: "{{ .OPENAI_WEBUI_SECRET_KEY }}"
        OPENID_PROVIDER_URL: https://{{ .AUTHENTIK_SSO_SUBDOMAIN }}.${SECRET_DOMAIN}/application/o/${APP}/.well-known/openid-configuration
  dataFrom:
    - extract:
        key: /open-webui
    - extract:
        key: /authentik
