---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homebox
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-initdb-secret"
        containers:
          app:
            image:
              repository: ghcr.io/sysadminsmedia/homebox
              tag: 0.23.0@sha256:eabc0de4dbbcfb59289397d88ad80f768abf2e08c03f8c197be35ba953a10826
            env:
              TZ: "${TIMEZONE}"
              HBOX_LOG_LEVEL: info
              HBOX_LOG_FORMAT: json
              HBOX_WEB_HOST: 0.0.0.0
              HBOX_WEB_PORT: &port 7745
              HBOX_MEB_MAX_UPLOAD_SIZE: 25
              HBOX_DATABASE_DRIVER: postgres
              HBOX_DATABASE_SSL_MODE: disable
              HBOX_MODE: production
              HBOX_OPTIONS_ALLOW_REGISTRATION: "false"
              # OIDC Values
              HBOX_OIDC_ENABLED: "true"
              HBOX_OIDC_ALLOWED_GROUPS: Plex User
              HBOX_OIDC_AUTO_REDIRECT: "false" # true, you will be sent directly to your Identity Provider
              HBOX_OIDC_BUTTON_TEXT: "Authentik Sign In"
              HBOX_OIDC_SCOPE: openid profile email
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 20m
                memory: 128Mi
              limits:
                memory: 512Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec: &probeSpec
                  httpGet:
                    path: ${GATUS_PATH}
                    port: *port
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                <<: *probes
                spec:
                  <<: *probeSpec
                  periodSeconds: 10
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1044
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
        annotations:
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |
            group: "services"
    route:
      app:
        annotations:
          gatus.home-operations.com/enabled: "false"
        hostnames: ["${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /data
      modcache:
        type: emptyDir
        sizeLimit: 100Mi
        globalMounts:
          - path: /.cache