---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unifi
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: jacobalberty/unifi
              tag: v9.5.21
            env:
              TZ: ${TIMEZONE}
              RUNAS_UID0: "false"
              UNIFI_UID: "999"
              UNIFI_GID: "999"
              JVM_INIT_HEAP_SIZE: ""
              JVM_MAX_HEAP_SIZE: 1024M
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: ${GATUS_PATH}
                    port: &port 8443
                    scheme: HTTPS
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 50m
                memory: 1Gi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.5.237
        ports:
          # Web UI
          http:
            port: *port
            protocol: TCP
          # Controller communication
          controller:
            port: 8080
            protocol: TCP
          # Device discovery
          discovery:
            port: 10001
            protocol: UDP
          # STUN
          stun:
            port: 3478
            protocol: UDP
          # Syslog
          syslog:
            port: 5514
            protocol: UDP
          # Speedtest
          speedtest:
            port: 6789
            protocol: TCP
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /unifi
    route:
      app:
        hostnames: ["${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
