---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app multus
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    cni:
      binPath: /opt/cni/bin
      netPath: /etc/cni/net.d
    *app :
      resources:
        requests:
          cpu: 10m
        limits:
          memory: 512Mi
