---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pairdrop
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/schlagmichdoch/pairdrop
              tag: v1.11.2@sha256:c4b30977264a76e335740089e693a52a0d0d616330dec7f93c7b96beef7b4a02
            env:
              TZ: ${TIMEZONE:-UTC}
              RTC_CONFIG: /app/rtc_config.json
              IPV6_LOCALIZE: "false"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 5m
                memory: 128M
              limits:
                memory: 256M
          coturn:
            image:
              repository: coturn/coturn
              tag: 4.7.0@sha256:203b9bf51e84199f91025d411a7bcc7358d50c43a4d9c588079e282a3bbf4ba1
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
              runAsNonRoot: true
              runAsUser: 65534
              runAsGroup: 65534
            env:
              TURN_USER:
                valueFrom:
                  secretKeyRef:
                    name: coturn-secret
                    key: username
              TURN_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: coturn-secret
                    key: password
            args:
              - --log-file=stdout
              - --listening-ip=0.0.0.0
              - --listening-port=3478
              - --min-port=10000
              - --max-port=20000
              - --fingerprint
              - --lt-cred-mech
              - --user=$(TURN_USER):$(TURN_PASSWORD)
              - --realm=${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}
              - --server-name=pairdrop
              - --no-dtls
              - --no-tls
              - --no-cli
              - --no-multicast-peers
              - --no-software-attribute
            resources:
              requests:
                cpu: 10m
                memory: 64M
              limits:
                memory: 128M
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 3000
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames: ["${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      cache:
        type: emptyDir
        advancedMounts:
          *app :
            app:
              - path: /root/.npm/_cacache
      logs:
        type: emptyDir
        advancedMounts:
          *app :
            app:
              - path: /root/.npm/_logs
      rtc-config:
        type: secret
        name: coturn-secret
        advancedMounts:
          *app :
            app:
              - path: /app/rtc_config.json
                subPath: rtc_config.json
                readOnly: true
      tmp:
        type: emptyDir
        advancedMounts:
          *app :
            coturn:
              - path: /tmp
      coturn:
        type: emptyDir
        advancedMounts:
          *app :
            coturn:
              - path: /var/tmp
              - path: /var/run