---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mealie
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-initdb-secret"
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.10.1@sha256:bf48f06fcb2bd3f242d6f703cd7860f18913df3b1a3c8e8b8194196a8b53f6f6
            env:
              DB_ENGINE: "postgres"
              POSTGRES_DB: *app
              POSTGRES_USER: *app
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-pguser-secret"
                    key: password
              POSTGRES_SERVER:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-pguser-secret"
                    key: host
              POSTGRES_PORT:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-pguser-secret"
                    key: port
              # Base Values
              ALLOW_SIGNUP: "false"
              ALLOW_PASSWORD_LOGIN: "false"
              API_DOCS: "false"
              BASE_URL: "https://${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"
              MAX_WORKERS: "1"
              TZ: ${TIMEZONE:-UTC}
              WORKERS_PER_CORE: "1"
              WEB_CONCURRENCY: "1"
              # OIDC Values
              OIDC_AUTH_ENABLED: "true"
              OIDC_SIGNUP_ENABLED: "true"
              OIDC_USER_GROUP: Plex User
              OIDC_ADMIN_GROUP: authentik Admins
              OIDC_AUTO_REDIRECT: "false" # true, you will be sent directly to your Identity Provider
              OIDC_PROVIDER_NAME: Authentik
              OIDC_REMEMBER_ME: "true"
              OIDC_USER_CLAIM: email
              # OpenAI Values
              OPENAI_MODEL: gpt-4o-mini
              OPENAI_ENABLE_IMAGE_SERVICES: "false" #creating recipes via image
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 20m
                memory: 256Mi
              limits:
                memory: 512Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec: &probeSpec
                  httpGet:
                    path: ${GATUS_PATH}
                    port: &port 9000
                  initialDelaySeconds: 120
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                <<: *probes
                spec:
                  <<: *probeSpec
                  periodSeconds: 10
              startup:
                enabled: false
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames: ["${GATUS_SUBDOMAIN}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/data/