---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name homepage-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        bookmarks.yaml: | # https://gethomepage.dev/configs/bookmarks
          - Bookmarks:
              - Selfh.st:
                  - icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/selfh-st.svg
                    abbr: SH
                    href: https://selfh.st/
              - VM/Prom:
                  - icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/victoriametrics-light.svg
                    abbr: VM
                    href: https://vm.{{ .SECRET_DOMAIN }}/vmui/
              - Logs:
                  - icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/victoriametrics-light.svg
                    abbr: LG
                    href: https://logs.{{ .SECRET_DOMAIN }}/
        docker.yaml: | # https://gethomepage.dev/configs/docker/
          tower:
              host: unraid.internal
              port: 2375
        kubernetes.yaml: | # https://gethomepage.dev/configs/kubernetes/
          mode: cluster
        services.yaml: | # https://gethomepage.dev/configs/services/
          - Plex:
              - Plex:
                  icon: plex.png
                  href: https://plex.app.tv/
                  description: Plex Server
                  widget:
                    type: plex
                    url: http://plex.media.svc.cluster.local:32400
                    key: {{ .PLEX_TOKEN }}
              - Tautulli:
                  icon: tautulli.png
                  href: https://tautulli.{{ .SECRET_DOMAIN }}/
                  description: Plex Monitor
                  widget:
                    type: tautulli
                    url: http://tautulli.media.svc.cluster.local:8181
                    key: {{ .TAUTULLI_API_KEY }}
              - Seerr:
                  icon: jellyseerr.png
                  href: https://req.{{ .SECRET_DOMAIN }}/
                  description: Plex Request
                  widget:
                    type: jellyseerr
                    url: http://seerr.media.svc.cluster.local:80
                    key: {{ .SEERR_API_KEY }}

          - Autopirate:
              - qBitorrent:
                  icon: qbittorrent.png
                  href: https://qui.{{ .SECRET_DOMAIN }}
                  description: Torrents
                  widget:
                    type: qbittorrent
                    url: https://qui.{{ .SECRET_DOMAIN }}/proxy/54e5b47d5b76a30c686b733c13fbeec095e5bc67832fb5e784c8cfe5633c6c26
              - Prowlarr:
                  icon: prowlarr.png
                  href: https://prowlarr.{{ .SECRET_DOMAIN }}/
                  description: Torrent tracker
                  widget:
                    type: prowlarr
                    url: http://prowlarr.media.svc.cluster.local:9696
                    key: {{ .PROWLARR_API_KEY }}
              - Sonarr:
                  icon: sonarr.png
                  href: https://sonarr.{{ .SECRET_DOMAIN }}/
                  description: TV series management
                  widget:
                    type: sonarr
                    url: http://sonarr.media.svc.cluster.local:8989
                    key: {{ .SONARR_API_KEY }}
              - Radarr:
                  icon: radarr.png
                  href: https://radarr.{{ .SECRET_DOMAIN }}/
                  description: Movie management
                  widget:
                    type: radarr
                    url: http://radarr.media.svc.cluster.local:7878
                    key: {{ .RADARR_API_KEY }}

          - Services:
              - Authentik:
                  icon: authentik.png
                  href: https://auth.{{ .SECRET_DOMAIN }}/
                  description: SSO Auth
                  widget:
                    type: authentik
                    url: http://authentik-server.default.svc.cluster.local:80
                    key: {{ .AUTHENTIK_SECRET_KEY }}
                    version: 2
              - Immich:
                  icon: immich.png
                  href: https://img.{{ .SECRET_DOMAIN }}/
                  description: Photo Storage Library
                  widget:
                    type: immich
                    url: http://immich-app.default.svc.cluster.local:2283
                    key: {{ .HOMEPAGE_IMMICH_API_KEY }}
                    version: 2
              - Mealie:
                  icon: mealie.png
                  href: https://mp.{{ .SECRET_DOMAIN }}/
                  description: Recipe Manager
                  widget:
                    type: mealie
                    url: http://mealie.default.svc.cluster.local:9000
                    key: {{ .MEALIE_API_KEY }}
                    version: 2
              - Grafana:
                  icon: grafana.png
                  href: https://grafana.{{ .SECRET_DOMAIN }}/
                  description: Server Metrics
              - 3d Printer:
                  icon: klipper.png
                  href: https://3dp.{{ .SECRET_DOMAIN }}/
                  description: Moonraker
                  widget:
                    type: moonraker
                    url: http://3dp.internal
                    key: {{ .MOONRAKER_API_KEY }}
                    hideErrors: true

          - Servers:
              - Unifi:
                  icon: unifi.png
                  href: https://unifi.ui.com/dashboard
                  description: UDM-Pro
                  widget:
                    type: unifi
                    fields: ["uptime", "lan_users", "wlan_users"]
                    url: https://unifi.internal
                    username: homepage
                    password: {{ .UNIFI_API_KEY }}
              - Synology:
                  icon: synology.png
                  href: https://nas.{{ .SECRET_DOMAIN }}/
                  description: Network Storage
              - Proxmox 1:
                  icon: proxmox.png
                  href: https://pxmx1.local.{{ .SECRET_DOMAIN }}:8006/
                  description: Hypervisor
                  widget:
                    type: proxmox
                    url: https://pxmx1.internal:8006
                    username: api@pam!homepage
                    password: {{ .PROXMOX_API_KEY }}
              - Proxmox 2:
                  icon: proxmox.png
                  href: https://pxmx2.local.{{ .SECRET_DOMAIN }}:8006/
                  description: Hypervisor
                  widget:
                    type: proxmox
                    url: https://pxmx2.internal:8006
                    username: api@pam!homepage
                    password: {{ .PROXMOX_API_KEY }}
              - Proxmox 3:
                  icon: proxmox.png
                  href: https://pxmx3.local.{{ .SECRET_DOMAIN }}:8006/
                  description: Hypervisor
                  widget:
                    type: proxmox
                    url: https://pxmx3.internal:8006
                    username: api@pam!homepage
                    password: {{ .PROXMOX_API_KEY }}
              - Proxmox Backup:
                  icon: proxmox.png
                  href: https://pbs.local.{{ .SECRET_DOMAIN }}:8007/
                  description: Proxmox Backup
                  server: tower
                  container: proxmox-backup-server
                  widget:
                    type: proxmoxbackupserver
                    url: https://unraid.internal:8007
                    username: admin@pbs!homepage
                    password: {{ .PBS_API_KEY }}
        settings.yaml: | # https://gethomepage.dev/configs/settings/
          base: https://hm.{{ .SECRET_DOMAIN }}
          language: en
          target: _self
          color: stone
          background: https://images.unsplash.com/photo-1502790671504-542ad42d5189?auto=format&fit=crop&w=2560&q=80
          backgroundOpacity: 0.5
          statusStyle: "basic"
          providers:
            openweathermap: openweathermapapikey
            weatherapi: weatherapiapikey
          layout:
            - Bookmarks:
                style: row
                columns: 3
            - Plex:
                style: row
                columns: 3
                header: false
            - Apps:
                style: row
                columns: 3
                Autopirate:
                  style: columns
                Services:
                  style: columns
                Servers:
                  style: columns
        widgets.yaml: | # https://gethomepage.dev/widgets/
          - kubernetes:
              cluster:
                show: true
                cpu: true
                memory: true
                showLabel: true
                label: "main"
              nodes:
                show: false
                cpu: true
                memory: true
                showLabel: true
          - resources:
              backend: resources
              expanded: true
              cpu: true
              memory: true
          - openweathermap:
              latitude: {{ .OPENWEATHERMAP_LATITUDE }}
              longitude: {{ .OPENWEATHERMAP_LONGITUDE }}
              units: imperial
              provider: openweathermap
              apiKey: {{ .OPENWEATHERMAP_API_KEY }}
              cache: 5 # Time in minutes to cache API responses, to stay within limits
          - search:
              provider: custom
              url: https://search.{{ .SECRET_DOMAIN }}/search?q=
              target: _blank
  dataFrom:
    - extract:
        key: /arr-apps
    - extract:
        key: /authentik
    - extract:
        key: /immich
    - extract:
        key: /homepage
    - extract:
        key: /cluster-secrets
