---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name homepage-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *name
    template:
      data:
        HOMEPAGE_VAR_BAZARR_TOKEN: "{{ .BAZARR_API_KEY }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .PROWLARR_API_KEY }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .RADARR_API_KEY }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .SONARR_API_KEY }}"
        HOMEPAGE_VAR_TAUTULLI_TOKEN: "{{ .TAUTULLI_API_KEY }}"
        HOMEPAGE_VAR_SEERR_TOKEN: "{{ .SEERR_API_KEY }}"
        HOMEPAGE_VAR_PLEX_TOKEN: "{{ .PLEX_TOKEN }}"
        HOMEPAGE_VAR_AUTHENTIK_TOKEN: "{{ .AUTHENTIK_SECRET_KEY }}"
        HOMEPAGE_VAR_IMMICH_TOKEN: "{{ .HOMEPAGE_IMMICH_API_KEY }}"
        HOMEPAGE_VAR_UNIFI_TOKEN: "{{ .UNIFI_API_KEY }}"
        HOMEPAGE_VAR_OPENWEATHERMAP_APIKEY: "{{ .OPENWEATHERMAP_API_KEY }}"
        HOMEPAGE_VAR_OPENWEATHERMAP_LATITUDE: "{{ .OPENWEATHERMAP_LATITUDE }}"
        HOMEPAGE_VAR_OPENWEATHERMAP_LONGITUDE: "{{ .OPENWEATHERMAP_LONGITUDE }}"
        HOMEPAGE_VAR_PROXMOX_TOKEN: "{{ .PROXMOX_API_KEY }}"
        HOMEPAGE_VAR_PBS_TOKEN: "{{ .PBS_API_KEY }}"
        HOMEPAGE_VAR_AGUSER_TOKEN: "{{ .AGUSER_TOKEN }}"
        HOMEPAGE_VAR_AGPASS_TOKEN: "{{ .AGPASS_TOKEN }}"
  dataFrom:
    - extract:
        key: /arr-apps
    - extract:
        key: /authentik
    - extract:
        key: /immich
    - extract:
        key: /homepage
