---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tailscale-operator
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    # Not supported in this chart version
    # fullnameOverride: tailscale-operator
    operatorConfig:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret tailscale-operator-secret
    proxyConfig:
      defaultTags: "tag:k8s"
  valuesFrom:
    - kind: Secret
      name: *secret
      valuesKey: client_id
      targetPath: oauth.clientId
    - kind: Secret
      name: *secret
      valuesKey: client_secret
      targetPath: oauth.clientSecret