---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tailscale-operator
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    oauthSecretVolume:
      secret:
        secretName: &secret tailscale-operator-secret
    operatorConfig:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Deployment
              name: operator
            patch: |-
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: tailscale-operator