---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app spoolman
spec:
  components:
    - ../../../../components/ext-auth-internal
    - ../../../../components/volsync
  dependsOn:
    - name: secret-stores
      namespace: external-secrets
    - name: volsync
      namespace: volsync-system
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 1h
  path: ./kubernetes/apps/default/spoolman/app
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: fil
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false