---
apiVersion: v1alpha1
kind: LinkConfig
name: ceph0
mtu: 1500
addresses:
  - address: 192.168.43.13/24
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  topology.kubernetes.io/zone: m
  # 0658:0200 - Sigma Designs Z-Wave USB Controller (Z-Wave)
  feature.node.kubernetes.io/usb-zwave: "true"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-3
