---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tqm
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  dependsOn:
    - name: qbittorrent
      namespace: media
  driftDetection:
    mode: enabled
  values:
    controllers:
      *app :
        type: cronjob
        cronjob: &cronJobSpec
          schedule: 0 * * * *
          backoffLimit: 0
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
          ttlSecondsAfterFinished: 3600
        initContainers:
          retag: &container
            image:
              repository: ghcr.io/home-operations/tqm
              tag: 1.18.0@sha256:454864e1f56a86550c54776c3ba5f3439133b4fc4e66ef69ff90a6ee65db6cc5
            args:
              - retag
              - qb
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        containers:
          clean:
            <<: *container
            args:
              - clean
              - qb
        pod:
          restartPolicy: Never
          terminationGracePeriodSeconds: 120
      orphaned:
        type: cronjob
        cronjob:
          <<: *cronJobSpec
          schedule: 0 0 * * 0
          suspend: true
        containers:
          app:
            <<: *container
            args:
              - orphan
              - qb
              - --dry-run
        pod:
          restartPolicy: Never
          terminationGracePeriodSeconds: 120
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1044
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /.config/tqm
      config-file:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        globalMounts:
          - path: /.config/tqm/config.yaml
            subPath: config.yaml
            readOnly: true
      media:
        type: nfs
        server: nas.internal
        path: /volume1/Media/torrents
        globalMounts:
          - path: /Media/torrents
            readOnly: true