---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app grafana-operator
spec:
  dependsOn:
    - name: external-secrets
      namespace: external-secrets
  interval: 1h
  path: ./kubernetes/apps/observability/grafana/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: observability
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app grafana-instance
spec:
  components:
    - ../../../../components/cnpg
  dependsOn:
    - name: grafana-operator
      namespace: observability
    - name: cnpg-cluster
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/observability/grafana/instance
  postBuild:
    substitute:
      APP: grafana
      CNPG_NAME: &postgresAppName postgres16
      GATUS_SUBDOMAIN: grafana
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  healthChecks:
    - apiVersion: &postgresVersion postgresql.cnpg.io/v1
      kind: &postgresKind Cluster
      name: *postgresAppName
      namespace: database
  healthCheckExprs:
    - apiVersion: *postgresVersion
      kind: *postgresKind
      failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
      current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: observability
  wait: false
