[server]
hosts = 0.0.0.0:5232

[auth]
# Value: none | htpasswd | remote_user | http_x_remote_user | dovecot | ldap | oauth2 | pam | denyall
type = htpasswd

htpasswd_filename = /config/users

# Value: plain | bcrypt | md5 | sha256 | sha512 | autodetect
htpasswd_encryption = md5

[storage]
filesystem_folder = /data/collections

[web]
# Value: none | internal
type = internal

# type = radicale_infcloud
# infcloud_config = globalInterfaceLanguage='en_US';
#                  globalTimeZone='America/New_York';