---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Release"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *" # 1st of every month at midnight

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Generate Release Notes
        id: release-notes
        uses: mirceanton/action-semver-release@32926bdfac015a028847dc4b295ab877a808e853 # v2.2.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          dry-run: true

      - name: Determine CalVer Tag
        id: calver
        uses: mirceanton/action-calver-release@e34e40c96ed4998c9a0adb0c8d3d821b49d789a3 # 2025.11.4
        with:
          github-token: ${{ secrets.PAT_WORKFLOW }}
          dry-run: true

      - name: Create Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          body: ${{ steps.release-notes.outputs.release-notes }}
          tag: ${{ steps.calver.outputs.release-tag }}
          token: ${{ secrets.PAT_WORKFLOW }}
          makeLatest: true
