---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./externalsecret.yaml
  - ./certificates/ks.yaml
  - ./cloudflared/ks.yaml
  - ./echo/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./external-dns/ks.yaml
  - ./k8s-gateway/ks.yaml
  - ./proxy/ks.yaml
  - ./tailscale/ks.yaml
  - ./unifi/ks.yaml
